<?xml version="1.0"? encoding="utf-8">
<sdf version="1.10">

{# !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! #}
{# !!  THIS DOCUMENT CONTAINS ONLY BASIC BUILDING BLOCKS, PLUGINS,  !! #}
{# !!   AND GENERIC SENSORS DEFINITIONS. DO NOT DEFINE ARGUMENTS    !! #}
{# !! OR COMPLEX COMPONENTS THAT ARE USED BY THE MRS DRONE SPAWNER  !! #}
{# !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! #}

<!-- License {-->
<!--
Copyright 2015 Fadri Furrer, ASL, ETH Zurich, Switzerland
Copyright 2015 Michael Burri, ASL, ETH Zurich, Switzerland
Copyright 2015 Mina Kamel, ASL, ETH Zurich, Switzerland
Copyright 2015 Janosch Nikolic, ASL, ETH Zurich, Switzerland
Copyright 2015 Markus Achtelik, ASL, ETH Zurich, Switzerland
Copyright 2024 Petr Stibinger, MRS, CTU Prague, Czech Republic
Copyright 2025 Vojtech Spurny, MRS, CTU Prague, Czech Republic

Licensed under the Apache License, Version 2.0 (the "License");
you may not use this file except in compliance with the License.
You may obtain a copy of the License at

http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing, software
distributed under the License is distributed on an "AS IS" BASIS,
WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
See the License for the specific language governing permissions and
limitations under the License.
-->
<!--}-->

{# ========================== general blocks ========================= #}

{# handle_spawner_args {--> #}
{%- macro handle_spawner_args(keyword, default_args, args) -%}

  {%- if default_args is defined -%}

    {%- if args[keyword] is not defined or args[keyword] is none -%}
      {%- set _ = args.update({keyword: default_args}) -%}

    {%- elif args[keyword] is iterable -%}

      {%- if args[keyword] is mapping -%}
        {%- set tmp_args = dict() -%}
        {%- set _ = tmp_args.update(default_args) -%}
        {%- for key, value in args[keyword].items() -%}
          {%- set _ = tmp_args.update({key: value}) -%}
        {%- endfor -%}
        {%- set _ = args.update({keyword: tmp_args}) -%}

      {%- elif args[keyword] is not string and args[keyword] | length != default_args | length -%}
        {%- set _ = args.update({keyword: default_args}) -%}
      {%- endif -%}

    {%- endif -%}
  {%- endif -%}
{%- endmacro -%}
{# <!--}--> #}

{# zero_inertial_macro {--> #}
{# macro to add the lowest mass and intertia that gazebo allows #}
{%- macro zero_inertial_macro() -%}
  <inertial>
    <mass>0.001</mass>
    <inertia>
      <ixx>1e-6</ixx>
      <ixy>0</ixy>
      <ixz>0</ixz>
      <iyy>1e-6</iyy>
      <iyz>0</iyz>
      <izz>1e-6</izz>
    </inertia>
  </inertial>
{%- endmacro -%}
{# <!--}--> #}

{# multirotor_physics_macro {--> #}
{%- macro multirotor_physics_macro(mass, body_radius, body_height, ixx, ixy, ixz, iyy, iyz, izz) -%}
  <inertial>
    <mass>{{ mass }}</mass>
    <inertia>
      <ixx>{{ ixx }}</ixx>
      <ixy>{{ ixy }}</ixy>
      <ixz>{{ ixz }}</ixz>
      <iyy>{{ iyy }}</iyy>
      <iyz>{{ iyz }}</iyz>
      <izz>{{ izz }}</izz>
    </inertia>
  </inertial>
  <collision name="base_link_collision">
    <pose>0 0 {{ -body_height / 2 }} 0 0 0</pose>
    <geometry>
      <cylinder>
        <length>{{ body_height }}</length>
        <radius>{{ body_radius }}</radius>
      </cylinder>
    </geometry>
    <surface>
      <contact>
        <ode>
          <min_depth>0.001</min_depth>
          <max_vel>0.0</max_vel>
        </ode>
      </contact>
      <friction>
        <ode/>
      </friction>
    </surface>
  </collision>
{%- endmacro -%}
{# <!--}--> #}

{# collision_cylinder_macro {--> #}
{%- macro collision_cylinder_macro(name, collision_length, collision_radius, x, y, z, roll, pitch, yaw) -%}
  <collision name="{{ name }}_collision">
    <pose>{{ x }} {{ y }} {{ z }} {{ roll }} {{ pitch }} {{ yaw }}</pose>
    <geometry>
      <cylinder>
        <length>{{ collision_length }}</length>
        <radius>{{ collision_radius }}</radius>
      </cylinder>
    </geometry>
    <surface>
      <contact>
        <ode>
          <min_depth>0.01</min_depth>
          <max_vel>0.0</max_vel>
        </ode>
      </contact>
      <friction>
        <ode/>
      </friction>
    </surface>
  </collision>
{%- endmacro -%}
{# <!--}--> #}

{# cylinder_inertia {--> #}
{%- macro cylinder_inertia(m, r, h) -%}
  <inertia>
    <ixx>{{ m * ( 3 * r * r + h * h ) / 12 }}</ixx>
    <ixy>0</ixy>
    <ixz>0</ixz>
    <iyy>{{ m * ( 3 * r * r + h * h ) / 12 }}</iyy>
    <iyz>0</iyz>
    <izz>{{ m * r * r / 2 }}</izz>
  </inertia>
{%- endmacro -%}
{# <!--}--> #}

<!-- Ball inertia {-->
{%- macro ball_inertia(m, r) -%}
	<inertia>
	  <ixx>{{ 2 * m * r * r / 5 }}</ixx>
	  <ixy>0</ixy>
	  <ixz>0</ixz>
	  <iyy>{{ 2 * m * r * r / 5 }}</iyy>
	  <iyz>0</iyz>
	  <izz>{{ 2 * m * r * r / 5 }}</izz>
	</inertia>
{%- endmacro -%}
<!--}-->

{# single_chain_pendulum_macro {--> #}
{%- macro single_chain_pendulum_macro(parent_link, id, link_mass, link_radius, link_length, joint_offset_x, joint_offset_y, joint_offset_z) -%}
  <link name="pendulum_chain_{{ id }}_link">
    <pose relative_to = "pendulum_chain_{{ id }}_joint"> 0 0 {{ -link_length/2.0 }} 0 0 0</pose>
    <inertial>
      <mass>{{ link_mass }}</mass>
      {{ cylinder_inertia(
          m = link_mass,
          r = link_radius,
          h = link_length)
      }}
    </inertial>
    <gravity>1</gravity>
    <visual name="chain_visual">
      <pose>0 0 0 0 0 0</pose>
      <geometry>
        <cylinder>
          <length>{{ link_length }}</length>
          <radius>{{ link_radius }}</radius>
        </cylinder>
      </geometry>
      <material>
        <script>
          <name>Gazebo/DarkGrey</name>
          <uri>file://media/materials/scripts/gazebo.material</uri>
        </script>
      </material>
    </visual>
    <visual name="connection_visual">
      <pose>0 0 {{ link_length/2.0 }} 0 0 0</pose>
      <geometry>
        <sphere>
          <radius>0.012</radius>
        </sphere>
      </geometry>
      <material>
        <script>
          <name>Gazebo/Yellow</name>
          <uri>file://media/materials/scripts/gazebo.material</uri>
        </script>
      </material>
    </visual>
  </link>

  <joint name="pendulum_chain_{{ id }}_joint" type="revolute2">
    <parent>{{ parent_link }}</parent>
    <child>pendulum_chain_{{ id }}_link</child>
    <pose relative_to = "{{ parent_link }}">{{ joint_offset_x }} {{ joint_offset_y }} {{ joint_offset_z }} 0 0 0</pose>
    <axis>
      <xyz>1 0 0</xyz>
      <limit>
        <lower>-3.1415</lower>
        <upper>3.1415</upper>
        <effort>-1</effort>
        <velocity>-1</velocity>
      </limit>
      <dynamics>
        <damping>0.0</damping>
        <friction>0.0</friction>
      </dynamics>
    </axis>
    <axis2>
      <xyz>0 1 0</xyz>
      <limit>
        <lower>-3.1415</lower>
        <upper>3.1415</upper>
        <effort>-1</effort>
        <velocity>-1</velocity>
      </limit>
      <dynamics>
        <damping>0.0</damping>
        <friction>0.0</friction>
      </dynamics>
    </axis2>
  </joint>
{%- endmacro -%}
{# <!--}--> #}

{# Macro to add pendulums load {--> #}
{%- macro load_pendulum_macro(parent_link, link_length, load_mass, load_radius) -%}
<link name="pendulum_load">
  <pose relative_to = "{{ parent_link }}"> 0 0 {{ -link_length/2 }} 0 0 0</pose>
  <inertial>
    <mass>{{ load_mass }}</mass>
    {{
      ball_inertia(
        m = load_mass,
        r = load_radius,
      )
    }}
  </inertial>
  <gravity>1</gravity>
  <visual name="load_visual">
    <pose>0 0 0 0 0 0</pose>
    <geometry>
      <sphere>
        <radius>{{ load_radius }}</radius>
      </sphere>
    </geometry>
    <material>
      <script>
        <name>Gazebo/Red</name>
        <uri>file://media/materials/scripts/gazebo.material</uri>
      </script>
    </material>
  </visual>
</link>

<joint name="pendulum_load_joint" type="fixed">
  <parent>{{ parent_link }}</parent>
  <child>pendulum_load</child>
  <pose relative_to = "{{ parent_link }}">0 0 {{ -link_length/2 }} 0 0 0</pose>
</joint>
{%- endmacro -%}
<!--}-->

{# ========================== visual blocks ========================= #}

{# visual_mesh_macro {--> #}
{%- macro visual_mesh_macro(name, mesh_file, mesh_scale, color, x, y, z, roll, pitch, yaw) -%}
  <visual name="{{ name }}_visual">
    <pose>{{ x }} {{ y }} {{ z }} {{ roll }} {{ pitch }} {{ yaw }}</pose>
    <geometry>
      <mesh>
        <uri>{{ mesh_file }}</uri>
        <scale>{{ mesh_scale }}</scale>
      </mesh>
    </geometry>
    <material>
      <script>
        <name>Gazebo/{{ color }}</name>
        <uri>file://media/materials/scripts/gazebo.material</uri>
      </script>
    </material>
  </visual>
{%- endmacro -%}
{# <!--}--> #}

{# visual_mesh_textured_macro {--> #}
{%- macro visual_mesh_textured_macro(name, mesh_file, mesh_scale, x, y, z, roll, pitch, yaw) -%}
<visual name="{{ name }}_visual">
  <pose>{{ x }} {{ y }} {{ z }} {{ roll }} {{ pitch }} {{ yaw }}</pose>
  <geometry>
    <mesh>
      <uri>{{ mesh_file }}</uri>
      <scale>{{ mesh_scale }}</scale>
    </mesh>
  </geometry>
</visual>
{%- endmacro -%}
{# <!--}--> #}

{# visual_mesh_mrs_material_macro {--> #}
{%- macro visual_mesh_mrs_material_macro(name, mesh_file, mesh_scale, color, x, y, z, roll, pitch, yaw) -%}
  <visual name="{{ name }}_visual">
    <pose>{{ x }} {{ y }} {{ z }} {{ roll }} {{ pitch }} {{ yaw }}</pose>
    <geometry>
      <mesh>
        <uri>{{ mesh_file }}</uri>
        <scale>{{ mesh_scale }}</scale>
      </mesh>
    </geometry>
    <material>
      <script>
        <name>MRS/{{ color }}</name>
        <uri>model://mrs_robots_description/materials/mrs.material</uri>
      </script>
    </material>
  </visual>
{%- endmacro -%}
{# <!--}--> #}

{# visual_link_macro {--> #}
{%- macro visual_link_macro(name, mesh_file, mesh_scale, color, x, y, z, roll, pitch, yaw, parent_link) -%}
  <link name="{{ name }}_link">
    {{ zero_inertial_macro() }}
    <pose>{{ x }} {{ y }} {{ z }} {{ roll }} {{ pitch }} {{ yaw }}</pose>
    {{ visual_mesh_macro(name, mesh_file, mesh_scale, color, 0, 0, 0, 0, 0, 0) }}
  </link>
  <joint name="{{ name }}_joint" type="fixed">
    <child>{{ name }}_link</child>
    <parent>{{ parent_link }}</parent>
  </joint>
{%- endmacro -%}
{# <!--}--> #}

{# visual_mesh_with_collision_macro {--> #}
{%- macro visual_mesh_with_collision_macro(name, mesh_file, mesh_scale, color, x, y, z, roll, pitch, yaw) -%}
  {{ visual_mesh_macro(name, mesh_file, mesh_scale, color, x, y, z, roll, pitch, yaw) }}
  <collision name="{{ name }}_collision">
    <pose>{{ x }} {{ y }} {{ z }} {{ roll }} {{ pitch }} {{ yaw }}</pose>
    <geometry>
      <mesh>
        <uri>{{ mesh_file }}</uri>
        <scale>{{ mesh_scale }}</scale>
      </mesh>
    </geometry>
  </collision>
{%- endmacro -%}
{# <!--}--> #}

{# visual_colored_box_macro {--> #}
{%- macro visual_colored_box_macro(name, size_x, size_y, size_z, color, x, y, z, roll, pitch, yaw) -%}
<visual name="{{ name }}_visual">
  <pose>{{ x }} {{ y }} {{ z }} {{ roll }} {{ pitch }} {{ yaw }}</pose>
  <geometry>
    <box>
      <size>{{ size_x }} {{ size_y }} {{ size_z }}</size>
    </box>
  </geometry>
  <material>
    <script>
      <name>Gazebo/{{ color }}</name>
      <uri>file://media/materials/scripts/gazebo.material</uri>
    </script>
  </material>
</visual>
{%- endmacro -%}
{# <!--}--> #}

{# visual_colored_box_with_collision_macro {--> #}
{%- macro visual_colored_box_with_collision_macro(name, size_x, size_y, size_z, color, x, y, z, roll, pitch, yaw) -%}
  {{ visual_colored_box_macro(name, size_x, size_y, size_z, color, x, y, z, roll, pitch, yaw) }}
  <collision name="{{ name }}_collision">
    <pose>{{ x }} {{ y }} {{ z }} {{ roll }} {{ pitch }} {{ yaw }}</pose>
    <geometry>
      <box>
        <size>{{ size_x }} {{ size_y }} {{ size_z }}</size>
      </box>
    </geometry>
  </collision>
{%- endmacro -%}
{# <!--}--> #}

{# ============================ drone legs =========================== #}

{# leg_macro {--> #}
{%- macro leg_macro(name, mesh_file, mesh_scale, color, parent, x, y, z, roll, pitch, yaw, collision_height, collision_radius) -%}
  {{ visual_mesh_macro(
    name = name,
    mesh_file = mesh_file,
    mesh_scale = mesh_scale,
    color = color,
    x = x,
    y = y,
    z = z,
    roll = roll,
    pitch = pitch,
    yaw = yaw)
  }}
  {{ collision_cylinder_macro(
    name = name,
    collision_length = collision_height,
    collision_radius = collision_radius,
    x = x,
    y = y,
    z = z,
    roll = roll,
    pitch = pitch,
    yaw = yaw)
  }}
{%- endmacro -%}
{# <!--}--> #}

{# leg_collision_offset_macro {--> #}
{%- macro leg_collision_offset_macro(name, mesh_file, mesh_scale, color, x, y, z, roll, pitch, yaw, collision_height, collision_radius, offset_x, offset_y, offset_z) -%}
  {{ visual_mesh_macro(
    name = name,
    mesh_file = mesh_file,
    mesh_scale = mesh_scale,
    color = color,
    x = x,
    y = y,
    z = z,
    roll = roll,
    pitch = pitch,
    yaw = yaw)
  }}
  {{ collision_cylinder_macro(
    name = name,
    collision_length = collision_height,
    collision_radius = collision_radius,
    x = x + offset_x,
    y = y + offset_y,
    z = z + offset_z,
    roll = roll,
    pitch = pitch,
    yaw = yaw)
  }}
{%- endmacro -%}
{# <!--}--> #}

{# ========================= drone propellers ======================== #}

{# motor_plugins_macro {--> #}
{%- macro motor_plugins_macro(motor_number, direction, time_constant_up, time_constant_down, max_rot_velocity, motor_constant, moment_constant, rotor_drag_coefficient, rolling_moment_coefficient, rotor_velocity_slowdown_sim, robot_namespace) -%}
  <!-- <plugin filename="gz-sim-multicopter-motor-model-system" name="gz::sim::systems::MulticopterMotorModel"> -->
  <plugin filename="MrsGazeboCommonResources_MulticopterMotorModel" name="gz::sim::systems::MrsMulticopterMotorModel">
    <jointName>prop_{{ motor_number }}_joint</jointName>
    <linkName>prop_{{ motor_number }}_link</linkName>
    <turningDirection>{{ direction }}</turningDirection>
    <timeConstantUp>{{ time_constant_up }}</timeConstantUp>
    <timeConstantDown>{{ time_constant_down }}</timeConstantDown>
    <maxRotVelocity>{{ max_rot_velocity }}</maxRotVelocity>
    <motorConstant>{{ motor_constant }}</motorConstant>
    <momentConstant>{{ moment_constant }}</momentConstant>
    <commandSubTopic>command/motor_speed</commandSubTopic>
    <actuator_number>{{ motor_number }}</actuator_number>
    <rotorDragCoefficient>{{ rotor_drag_coefficient }}</rotorDragCoefficient>
    <rollingMomentCoefficient>{{ rolling_moment_coefficient }}</rollingMomentCoefficient>
    <rotorVelocitySlowdownSim>{{ rotor_velocity_slowdown_sim }}</rotorVelocitySlowdownSim>
    <motorType>velocity</motorType>
    <robotNamespace>{{ robot_namespace }}</robotNamespace>
  </plugin>
{%- endmacro -%}
{# <!--}--> #}

{# prop_macro {--> #}
{%- macro prop_macro(direction, rotor_velocity_slowdown_sim, motor_constant, moment_constant, parent, mass, radius, time_constant_up, time_constant_down, max_rot_velocity, motor_number, rotor_drag_coefficient, rolling_moment_coefficient, color, mesh_file, mesh_scale, x, y, z, roll, pitch, yaw, ixx, ixy, ixz, iyy, iyz, izz, robot_namespace) -%}
  <link name="prop_{{ motor_number }}_link">
    <pose>{{ x }} {{ y }} {{ z }} {{ roll }} {{ pitch }} {{ yaw }}</pose>
    <inertial>
      <mass>{{ mass }}</mass>
      <inertia>
        <ixx>{{ ixx }}</ixx>
        <ixy>{{ ixy }}</ixy>
        <ixz>{{ ixz }}</ixz>
        <iyy>{{ iyy }}</iyy>
        <iyz>{{ iyz }}</iyz>
        <izz>{{ izz }}</izz>
      </inertia>
    </inertial>
    {{ visual_mesh_macro("prop_" ~ motor_number, mesh_file, mesh_scale, color, 0, 0, 0, 0, 0, 0) }}
    {{ collision_cylinder_macro(
      name = "prop_{{ motor_number }}_link",
      collision_length = 2 * radius,
      collision_radius = 0.01,
      x = 0,
      y = 0,
      z = 0,
      roll = 0,
      pitch = math.radians(90),
      yaw = 0)
    }}
  </link>
  {{ motor_plugins_macro(motor_number, direction, time_constant_up, time_constant_down, max_rot_velocity, motor_constant, moment_constant, rotor_drag_coefficient, rolling_moment_coefficient, rotor_velocity_slowdown_sim, robot_namespace) }}
  <joint name="prop_{{ motor_number }}_joint" type="revolute">
    <parent>{{ parent }}</parent>
    <child>prop_{{ motor_number }}_link</child>
    <axis>
      <xyz>0 0 1</xyz>
      <limit>
        <lower>-1e+16</lower>
        <upper>1e+16</upper>
      </limit>
      <dynamics>
        <spring_reference>0</spring_reference>
        <spring_stiffness>0</spring_stiffness>
      </dynamics>
    </axis>
  </joint>
{%- endmacro -%}
{# <!--}--> #}

{# prop_macro_2_meshes {--> #}
{%- macro prop_macro_2_meshes(direction, rotor_velocity_slowdown_sim, motor_constant, moment_constant, parent, mass, radius, time_constant_up, time_constant_down, max_rot_velocity, motor_number, rotor_drag_coefficient, rolling_moment_coefficient, color, mesh_file_1, mesh_file_2, meshes_z_offset, mesh_scale, x, y, z, roll, pitch, yaw, ixx, ixy, ixz, iyy, iyz, izz, robot_namespace) -%}
  <link name="prop_{{ motor_number }}_link">
    <pose>{{ x }} {{ y }} {{ z }} {{ roll }} {{ pitch }} {{ yaw }}</pose>
    <inertial>
      <mass>{{ mass }}</mass>
      <inertia>
        <ixx>{{ ixx }}</ixx>
        <ixy>{{ ixy }}</ixy>
        <ixz>{{ ixz }}</ixz>
        <iyy>{{ iyy }}</iyy>
        <iyz>{{ iyz }}</iyz>
        <izz>{{ izz }}</izz>
      </inertia>
    </inertial>
    {{ visual_mesh_textured_macro("prop_" ~ motor_number ~ "_first", mesh_file_1, mesh_scale, 0, 0, 0, 0, 0, 0) }}
    {{ visual_mesh_macro("prop_" ~ motor_number ~ "_second", mesh_file_2, mesh_scale, color, 0, 0, meshes_z_offset, 0, 0, 0) }}
    {{ collision_cylinder_macro(
      name = "prop_" ~ motor_number ~ "_link",
      collision_length = 2 * radius,
      collision_radius = 0.01,
      x = 0,
      y = 0,
      z = 0,
      roll = 0,
      pitch = math.radians(90),
      yaw = 0)
    }}
  </link>
  {{ motor_plugins_macro(motor_number, direction, time_constant_up, time_constant_down, max_rot_velocity, motor_constant, moment_constant, rotor_drag_coefficient, rolling_moment_coefficient, rotor_velocity_slowdown_sim, robot_namespace) }}
  <joint name="prop_{{ motor_number }}_joint" type="revolute">
    <parent>{{ parent }}</parent>
    <child>prop_{{ motor_number }}_link</child>
    <axis>
      <xyz>0 0 1</xyz>
      <limit>
        <lower>-1e+16</lower>
        <upper>1e+16</upper>
      </limit>
      <dynamics>
        <spring_reference>0</spring_reference>
        <spring_stiffness>0</spring_stiffness>
      </dynamics>
    </axis>
  </joint>
{%- endmacro -%}
<!--}-->

{# ========================== gazebo plugins ========================= #}

{# gps_sensor_macro {--> #}
{%- macro gps_sensor_macro(name, update_rate) -%}
<sensor name="{{ name }}_sensor" type="navsat">
  <always_on>1</always_on>
  <update_rate>{{ update_rate }}</update_rate>
</sensor>
{%- endmacro -%}
{# <!--}--> #}

{# magnetometer_sensor_macro {--> #}
{%- macro magnetometer_sensor_macro(name, update_rate, noise_std_x, noise_std_y, noise_std_z) -%}
<sensor name="{{ name }}_sensor" type="magnetometer">
  <always_on>1</always_on>
  <update_rate>{{ update_rate }}</update_rate>
  <magnetometer>
    <!-- TODO: update to fix units and coordinate system when we move past Harmonic -->
    <!-- See https://github.com/gazebosim/gz-sim/pull/2460 -->
    <!-- 3mgauss RMS: NOTE: noise is in tesla but sensor reports data in gauss -->
    <x>
      <noise type="gaussian">
        <stddev>{{ noise_std_x }}</stddev>
      </noise>
    </x>
    <y>
      <noise type="gaussian">
        <stddev>{{ noise_std_y }}</stddev>
      </noise>
    </y>
    <z>
      <noise type="gaussian">
        <stddev>{{ noise_std_z }}</stddev>
      </noise>
    </z>
  </magnetometer>
</sensor>
{%- endmacro -%}
{# <!--}--> #}

{# barometer_sensor_macro {--> #}
{%- macro barometer_sensor_macro(name, update_rate, noise_mean, noise_std) -%}
<sensor name="{{ name }}_sensor" type="air_pressure">
  <always_on>1</always_on>
  <update_rate>{{ update_rate }}</update_rate>
  <air_pressure>
    <pressure>
      <noise type="gaussian">
        <mean>{{ noise_mean }}</mean>
        <stddev>{{ noise_std }}</stddev>
      </noise>
    </pressure>
  </air_pressure>
</sensor>
{%- endmacro -%}
{# <!--}--> #}

{# odometry_sensor_macro {--> #}
{%- macro odometry_sensor_macro(odometry_sensor_name, topic_name, 
                                noise, frame_name, update_rate, 
                                x, y, z, roll, pitch, yaw
                                ) -%}
  <plugin filename="gz-sim-odometry-publisher-system" name="gz::sim::systems::OdometryPublisher">
    <odom_frame>{{ frame_name }}</odom_frame>
    <robot_base_frame>{{ odometry_sensor_name }}</robot_base_frame>
    <odom_publish_frequency>{{ update_rate }}</odom_publish_frequency>
    <odom_topic>{{ topic_name }}</odom_topic>
    <odom_covariance_topic>{{ topic_name }}_with_covariance</odom_covariance_topic> 
    <tf_topic>{{ odometry_sensor_name }}/pose</tf_topic>
    <dimensions>3</dimensions>
    <xyz_offset>{{ x }} {{ y }} {{ z }}</xyz_offset>
    <rpy_offset>{{ roll }} {{ pitch }} {{ yaw }}</rpy_offset>
    <gaussian_noise>{{ noise }}</gaussian_noise>
  </plugin>
{%- endmacro -%}
{# <!--}--> #}

{# imu_sensor_macro {--> #}
{%- macro imu_sensor_macro(name, update_rate, 
                          imu_sdf_topic_name, imu_gz_frame_id, imu_gz_topic_name, imu_ros_topic_name,
                          sensor_x, sensor_y, sensor_z, sensor_roll, sensor_pitch, sensor_yaw,
                          angular_velocity_noise_mean_x, angular_velocity_noise_std_x, 
                          angular_velocity_noise_mean_y, angular_velocity_noise_std_y, 
                          angular_velocity_noise_mean_z, angular_velocity_noise_std_z, 
                          linear_acceleration_noise_mean_x, linear_acceleration_noise_std_x, 
                          linear_acceleration_noise_mean_y, linear_acceleration_noise_std_y, 
                          linear_acceleration_noise_mean_z, linear_acceleration_noise_std_z) -%}
<sensor name="{{ imu_gz_frame_id }}" type="imu">
  <pose>{{ sensor_x }} {{ sensor_y }} {{ sensor_z }} {{ sensor_roll }} {{ sensor_pitch }} {{ sensor_yaw }}</pose>
  <always_on>1</always_on>
  <update_rate>{{ update_rate }}</update_rate>
  <topic>{{ imu_sdf_topic_name }}</topic>
  <gz_frame_id>{{ imu_gz_frame_id }}</gz_frame_id>
  <imu_gz_topic>{{ imu_gz_topic_name }}</imu_gz_topic>
  <imu_ros_topic>{{ imu_ros_topic_name }}</imu_ros_topic>
  <imu>
    <angular_velocity>
      <!-- 0.05 deg/s converted to rad/s -->
      <x>
        <noise type="gaussian">
          <mean>{{ angular_velocity_noise_mean_x }}</mean>
          <stddev>{{ angular_velocity_noise_std_x }}</stddev>
        </noise>
      </x>
      <y>
        <noise type="gaussian">
          <mean>{{ angular_velocity_noise_mean_y }}</mean>
          <stddev>{{ angular_velocity_noise_std_y }}</stddev>
        </noise>
      </y>
      <z>
        <noise type="gaussian">
          <mean>{{ angular_velocity_noise_mean_z }}</mean>
          <stddev>{{ angular_velocity_noise_std_z }}</stddev>
        </noise>
      </z>
    </angular_velocity>
    <linear_acceleration>
      <!-- X & Y axis: 0.65 mg-rms converted to m/ss -->
      <x>
        <noise type="gaussian">
          <mean>{{ linear_acceleration_noise_mean_x }}</mean>
          <stddev>{{ linear_acceleration_noise_std_x }}</stddev>
        </noise>
      </x>
      <y>
        <noise type="gaussian">
          <mean>{{ linear_acceleration_noise_mean_y }}</mean>
          <stddev>{{ linear_acceleration_noise_std_y }}</stddev>
        </noise>
      </y>
      <!-- Z axis: 0.70 mg-rms converted to m/ss-->
      <z>
        <noise type="gaussian">
          <mean>{{ linear_acceleration_noise_mean_z }}</mean>
          <stddev>{{ linear_acceleration_noise_std_z }}</stddev>
        </noise>
      </z>
    </linear_acceleration>
  </imu>
</sensor>
{%- endmacro -%}
{# <!--}--> #}


{# imu_pixhawk_sensor_macro {--> #}
{%- macro imu_pixhawk_sensor_macro(name, update_rate, 
                          angular_velocity_noise_mean_x, angular_velocity_noise_std_x, 
                          angular_velocity_noise_mean_y, angular_velocity_noise_std_y, 
                          angular_velocity_noise_mean_z, angular_velocity_noise_std_z, 
                          linear_acceleration_noise_mean_x, linear_acceleration_noise_std_x, 
                          linear_acceleration_noise_mean_y, linear_acceleration_noise_std_y, 
                          linear_acceleration_noise_mean_z, linear_acceleration_noise_std_z) -%}
<sensor name="{{ name }}_sensor" type="imu">
  <always_on>1</always_on>
  <update_rate>{{ update_rate }}</update_rate>
  <imu>
    <angular_velocity>
      <!-- 0.05 deg/s converted to rad/s -->
      <x>
        <noise type="gaussian">
          <mean>{{ angular_velocity_noise_mean_x }}</mean>
          <stddev>{{ angular_velocity_noise_std_x }}</stddev>
        </noise>
      </x>
      <y>
        <noise type="gaussian">
          <mean>{{ angular_velocity_noise_mean_y }}</mean>
          <stddev>{{ angular_velocity_noise_std_y }}</stddev>
        </noise>
      </y>
      <z>
        <noise type="gaussian">
          <mean>{{ angular_velocity_noise_mean_z }}</mean>
          <stddev>{{ angular_velocity_noise_std_z }}</stddev>
        </noise>
      </z>
    </angular_velocity>
    <linear_acceleration>
      <!-- X & Y axis: 0.65 mg-rms converted to m/ss -->
      <x>
        <noise type="gaussian">
          <mean>{{ linear_acceleration_noise_mean_x }}</mean>
          <stddev>{{ linear_acceleration_noise_std_x }}</stddev>
        </noise>
      </x>
      <y>
        <noise type="gaussian">
          <mean>{{ linear_acceleration_noise_mean_y }}</mean>
          <stddev>{{ linear_acceleration_noise_std_y }}</stddev>
        </noise>
      </y>
      <!-- Z axis: 0.70 mg-rms converted to m/ss-->
      <z>
        <noise type="gaussian">
          <mean>{{ linear_acceleration_noise_mean_z }}</mean>
          <stddev>{{ linear_acceleration_noise_std_z }}</stddev>
        </noise>
      </z>
    </linear_acceleration>
  </imu>
</sensor>
{%- endmacro -%}
{# <!--}--> #}

{# gazebo_twod_lidar_plugin_macro {--> #}
{# --- sensor is always defined with respect to the sensor_link frame #}
{%- macro gazebo_twod_lidar_plugin_macro( 
                      lidar_gz_frame_id, lidar_sdf_topic_name, lidar_gz_topic_name, lidar_ros_topic_name,
                      sensor_x, sensor_y, sensor_z, sensor_roll, sensor_pitch, sensor_yaw,
                      update_rate, 
                      horiz_num_samples, horiz_resolution, horiz_min_angle, horiz_max_angle, 
                      range_min, range_max, range_resolution,
                      noise_mean, noise_std
                      ) -%}

  <sensor name="{{ lidar_gz_frame_id }}" type='gpu_lidar'>
    <pose>{{ sensor_x }} {{ sensor_y }} {{ sensor_z }} {{ sensor_roll }} {{ sensor_pitch }} {{ sensor_yaw }}</pose>
    <topic>{{ lidar_sdf_topic_name }}</topic>
    <update_rate>{{ update_rate }}</update_rate>
    <gz_frame_id>{{ lidar_gz_frame_id }}</gz_frame_id>
    <gz_pointcloud_topic>{{ lidar_gz_topic_name }}</gz_pointcloud_topic>
    <ros_pointcloud_topic>{{ lidar_ros_topic_name }}</ros_pointcloud_topic>
    <ray>
        <scan>
            <horizontal>
                <samples>{{horiz_num_samples | int }}</samples>
                <resolution>{{horiz_resolution}}</resolution>
                <min_angle>{{horiz_min_angle}}</min_angle>
                <max_angle>{{horiz_max_angle}}</max_angle>
            </horizontal>
            <vertical>
                <samples>1</samples>
                <resolution>0.01</resolution>
                <min_angle>0</min_angle>
                <max_angle>0</max_angle>
            </vertical>
        </scan>
        <range>
            <min>{{range_min}}</min>
            <max>{{range_max}}</max>
            <resolution>{{range_resolution}}</resolution>
        </range>
        <noise>
            <type>gaussian</type>
            <mean>{{noise_mean}}</mean>
            <stddev>{{noise_std}}</stddev>
        </noise>
    </ray>
    <always_on>1</always_on>
    <visualize>false</visualize>
  </sensor>
{%- endmacro -%}
{# <!--}--> #}


{# gazebo_threed_lidar_plugin_macro {--> #}
{# --- sensor is always defined with respect to the sensor_link frame #}
{%- macro gazebo_threed_lidar_plugin_macro( 
                      lidar_gz_frame_id, lidar_sdf_topic_name, lidar_gz_topic_name, lidar_ros_topic_name,
                      sensor_x, sensor_y, sensor_z, sensor_roll, sensor_pitch, sensor_yaw,
                      update_rate, 
                      horiz_num_samples, horiz_resolution, horiz_min_angle, horiz_max_angle, 
                      vertic_num_samples, vertic_resolution, vertic_min_angle, vertic_max_angle,
                      range_min, range_max, range_resolution,
                      noise_mean, noise_std
                      ) -%}

  <sensor name="{{ lidar_gz_frame_id }}" type='gpu_lidar'>
    <pose>{{ sensor_x }} {{ sensor_y }} {{ sensor_z }} {{ sensor_roll }} {{ sensor_pitch }} {{ sensor_yaw }}</pose>
    <update_rate>{{ update_rate }}</update_rate>
    <gz_frame_id>{{ lidar_gz_frame_id }}</gz_frame_id>
    <topic>{{ lidar_sdf_topic_name }}</topic>
    <gz_pointcloud_topic>{{ lidar_gz_topic_name }}</gz_pointcloud_topic>
    <ros_pointcloud_topic>{{ lidar_ros_topic_name }}</ros_pointcloud_topic>
    <ray>
        <scan>
            <horizontal>
                <samples>{{horiz_num_samples | int }}</samples>
                <resolution>{{horiz_resolution}}</resolution>
                <min_angle>{{horiz_min_angle}}</min_angle>
                <max_angle>{{horiz_max_angle}}</max_angle>
            </horizontal>
            <vertical>
                <samples>{{vertic_num_samples | int }}</samples>
                <resolution>{{vertic_resolution}}</resolution>
                <min_angle>{{vertic_min_angle}}</min_angle>
                <max_angle>{{vertic_max_angle}}</max_angle>
            </vertical>
        </scan>
        <range>
            <min>{{range_min}}</min>
            <max>{{range_max}}</max>
            <resolution>{{range_resolution}}</resolution>
        </range>
        <noise>
            <type>gaussian</type>
            <mean>{{noise_mean}}</mean>
            <stddev>{{noise_std}}</stddev>
        </noise>
    </ray>
    <always_on>1</always_on>
    <visualize>false</visualize> <!-- this has no effect -->
  </sensor>
{%- endmacro -%}
{# <!--}--> #}

{# rangefinder_sensor_macro {--> #}
{%- macro rangefinder_sensor_macro(name, update_rate, sensor_link_name, parent_link_name, samples, min_distance, max_distance, resolution, x, y, z, roll, pitch, yaw) -%}
  <sensor name="{{ name }}" type="gpu_lidar">
  <pose relative_to="{{ parent_link_name }}">{{ x }} {{ y }} {{ z }} {{ roll }} {{ pitch }} {{ yaw }}</pose>
  <update_rate>{{ update_rate }}</update_rate>
  <lidar>
    <scan>
      <horizontal>
        <samples>{{ samples }}</samples>
        <resolution>1</resolution>
        <min_angle>0</min_angle>
        <max_angle>0</max_angle>
      </horizontal>
      <vertical>
        <samples>{{ samples }}</samples>
        <resolution>1</resolution>
        <min_angle>0</min_angle>
        <max_angle>0</max_angle>
      </vertical>
    </scan>
    <range>
      <min>{{ min_distance }}</min>
      <max>{{ max_distance }}</max>
      <resolution>{{ resolution }}</resolution>
    </range>
  </lidar>
  <visualize>false</visualize> <!-- this has no effect -->
  <always_on>1</always_on>
</sensor>
{%- endmacro -%}
{# <!--}--> #}



{# ========================== camera sensors ========================= #}

{# gazebo_rgb_camera_macro {--> #}
{%- macro gazebo_rgb_camera_macro(camera_name, camera_gz_frame_id, 
                                  camera_topic_name, ros_camera_info_topic, ros_color_image_topic, gz_camera_info_topic,
                                  frame_rate, horizontal_fov, image_width, image_height, 
                                  min_distance, max_distance, noise_mean, noise_stddev,  
                                  x_offset, y_offset, z_offset, roll_offset, pitch_offset, yaw_offset) -%}
  <sensor name="{{ camera_name }}/color" type="camera">
    <pose>{{ x_offset }} {{ y_offset }} {{ z_offset }} {{ roll_offset }} {{ pitch_offset }} {{ yaw_offset }}</pose>
    <always_on>true</always_on>
    <visualize>false</visualize>
    <gz_frame_id>{{ camera_gz_frame_id }}</gz_frame_id>
    <update_rate>{{ frame_rate }}</update_rate>

    <topic>{{ camera_topic_name }}</topic>
    <ros_camera_info_topic>{{ ros_camera_info_topic }}</ros_camera_info_topic>
    <ros_color_image_topic>{{ ros_color_image_topic }}</ros_color_image_topic>
    <gz_camera_info_topic>{{ gz_camera_info_topic }}</gz_camera_info_topic>

    <camera name="{{ camera_name }}">
      <horizontal_fov>{{ horizontal_fov }}</horizontal_fov>
      <image>
        <width>{{ image_width }}</width>
        <height>{{ image_height }}</height>
      </image>
      <clip>
        <near>{{ min_distance }}</near>
        <far>{{ max_distance }}</far>
      </clip>
       <!-- Noise is sampled independently per pixel on each frame.
        That noise value is added to each of its color
        channels, which at that point lie in the range [0,1]. -->
      <noise>
        <type>gaussian</type>
        <mean>{{ noise_mean }}</mean>
        <stddev>{{ noise_stddev }}</stddev>
      </noise>
    </camera>
  </sensor>

{%- endmacro -%}
{# <!--}--> #}

{# gazebo_depth_camera_macro {--> #}
{%- macro gazebo_depth_camera_macro(camera_name, camera_gz_frame_id, camera_topic_name, 
                                   ros_camera_info_topic, ros_depth_image_topic, ros_pointcloud_topic, 
                                   gz_camera_info_topic, gz_pointcloud_topic,
                                   frame_rate, horizontal_fov, image_width, image_height, 
                                   min_distance, max_distance, noise_mean, noise_stddev,  
                                   x_offset, y_offset, z_offset, roll_offset, pitch_offset, yaw_offset) -%}
  <sensor name="{{ camera_name }}/depth" type="depth_camera">
    <pose>{{ x_offset }} {{ y_offset }} {{ z_offset }} {{ roll_offset }} {{ pitch_offset }} {{ yaw_offset }}</pose>
    <always_on>true</always_on>
    <visualize>false</visualize>
    <gz_frame_id>{{ camera_gz_frame_id }}</gz_frame_id>
    <update_rate>{{ frame_rate }}</update_rate>

    <topic>{{ camera_topic_name }}</topic>
    <ros_camera_info_topic>{{ ros_camera_info_topic }}</ros_camera_info_topic>
    <ros_depth_image_topic>{{ ros_depth_image_topic }}</ros_depth_image_topic>
    <ros_pointcloud_topic>{{ ros_pointcloud_topic }}</ros_pointcloud_topic>
    <gz_camera_info_topic>{{ gz_camera_info_topic }}</gz_camera_info_topic>
    <gz_pointcloud_topic>{{ gz_pointcloud_topic }}</gz_pointcloud_topic>

    <camera name="{{ camera_name }}">
      <horizontal_fov>{{ horizontal_fov }}</horizontal_fov>
      <image>
        <width> {{ image_width }} </width>
        <height>{{ image_height }}</height>
        <format>R_FLOAT32</format>
        <anti_aliasing>0</anti_aliasing>
      </image>
      <clip>
        <near>{{ min_distance }}</near>
        <far>{{ max_distance }}</far>
      </clip>
      <noise>
        <type>gaussian</type>
        <mean>{{ noise_mean }}</mean>
        <stddev>{{ noise_stddev }}</stddev>
      </noise>
    </camera>
  </sensor>
{%- endmacro -%}
{# <!--}--> #}

{# gazebo_rgbd_camera_macro {--> #}
{%- macro gazebo_rgbd_camera_macro(camera_name, camera_gz_frame_id, camera_topic_name, 
                                   ros_camera_info_topic, ros_color_image_topic, ros_depth_image_topic, ros_pointcloud_topic,
                                   gz_camera_info_topic, gz_pointcloud_topic,
                                   frame_rate, horizontal_fov, image_width, image_height, 
                                   min_distance, max_distance, noise_mean, noise_stddev,  
                                   x_offset, y_offset, z_offset, roll_offset, pitch_offset, yaw_offset) -%}
  <sensor name="{{ camera_name }}/camera" type="rgbd_camera">
    <pose>{{ x_offset }} {{ y_offset }} {{ z_offset }} {{ roll_offset }} {{ pitch_offset }} {{ yaw_offset }}</pose>
    <always_on>true</always_on>
    <visualize>false</visualize>
    <gz_frame_id>{{ camera_gz_frame_id }}</gz_frame_id>
    <update_rate>{{ frame_rate }}</update_rate>
    
    <topic>{{ camera_topic_name }}</topic>
    <ros_camera_info_topic>{{ ros_camera_info_topic }}</ros_camera_info_topic>
    <ros_color_image_topic>{{ ros_color_image_topic }}</ros_color_image_topic>
    <ros_depth_image_topic>{{ ros_depth_image_topic }}</ros_depth_image_topic>
    <ros_pointcloud_topic>{{ ros_pointcloud_topic }}</ros_pointcloud_topic>
    <gz_camera_info_topic>{{ gz_camera_info_topic }}</gz_camera_info_topic>
    <gz_pointcloud_topic>{{ gz_pointcloud_topic }}</gz_pointcloud_topic>

    <camera name="{{ camera_name }}">
      <horizontal_fov>{{ horizontal_fov }}</horizontal_fov>
      <image>
        <width> {{ image_width }} </width>
        <height>{{ image_height }}</height>
        <format>R8G8B8</format>
      </image>
      <clip>
        <near>{{ min_distance }}</near>
        <far>{{ max_distance }}</far>
      </clip>
      <noise>
        <type>gaussian</type>
        <mean>{{ noise_mean }}</mean>
        <stddev>{{ noise_stddev }}</stddev>
      </noise>
    </camera>
  </sensor>
{%- endmacro -%}
{# <!--}--> #}


</sdf>
