{%- for topic in camera_info_topic_list -%}
- ros_topic_name: "{{ topic }}"
  gz_topic_name: "{{ topic }}"
  ros_type_name: "sensor_msgs/msg/CameraInfo"
  gz_type_name: "gz.msgs.CameraInfo"
  direction: GZ_TO_ROS
{% endfor %}

{%- for topic in twoD_lidar_topic_list -%}
- ros_topic_name: "{{ topic }}"
  gz_topic_name: "{{ topic }}"
  ros_type_name: "sensor_msgs/msg/LaserScan"
  gz_type_name: "gz.msgs.LaserScan"
  direction: GZ_TO_ROS
{% endfor %}

{%- for topic in threeD_lidar_topic_list -%}
- ros_topic_name: "{{ topic }}/points"
  gz_topic_name: "{{ topic }}/points"
  ros_type_name: "sensor_msgs/msg/PointCloud2"
  gz_type_name: "gz.msgs.PointCloudPacked"
  direction: GZ_TO_ROS
{% endfor %}
