<sdf version='1.11'>
  <model name='f450'>
    <link name='base_link'>
      <visual name='lower_central_board_visual'>
        <pose>0 0 -0.050000000000000003 0 0 0</pose>
        <geometry>
          <mesh>
            <uri>model://mrs_robots_description/meshes/dji/f450/dji_f450_central_bottom.dae</uri>
            <scale>1 1 1</scale>
          </mesh>
        </geometry>
        <material>
          <script>
            <name>Gazebo/DarkGrey</name>
            <uri>file://media/materials/scripts/gazebo.material</uri>
          </script>
        </material>
      </visual>
      <visual name='upper_central_board_visual'>
        <pose>0 0 -0.012000000000000004 0 0 0</pose>
        <geometry>
          <mesh>
            <uri>model://mrs_robots_description/meshes/dji/f450/dji_f450_central_top.dae</uri>
            <scale>1 1 1</scale>
          </mesh>
        </geometry>
        <material>
          <script>
            <name>Gazebo/DarkGrey</name>
            <uri>file://media/materials/scripts/gazebo.material</uri>
          </script>
        </material>
      </visual>
      <visual name='front_right_arm_visual'>
        <pose>0.045961940777125586 -0.045961940777125586 -0.012000000000000004 0 0 -0.78539816339744839</pose>
        <geometry>
          <mesh>
            <uri>model://mrs_robots_description/meshes/dji/f450/dji_f450_arm.dae</uri>
            <scale>1 1 1</scale>
          </mesh>
        </geometry>
        <material>
          <script>
            <name>Gazebo/White</name>
            <uri>file://media/materials/scripts/gazebo.material</uri>
          </script>
        </material>
      </visual>
      <visual name='front_left_arm_visual'>
        <pose>0.045961940777125586 0.045961940777125586 -0.012000000000000004 0 0 0.78539816339744839</pose>
        <geometry>
          <mesh>
            <uri>model://mrs_robots_description/meshes/dji/f450/dji_f450_arm.dae</uri>
            <scale>1 1 1</scale>
          </mesh>
        </geometry>
        <material>
          <script>
            <name>Gazebo/White</name>
            <uri>file://media/materials/scripts/gazebo.material</uri>
          </script>
        </material>
      </visual>
      <visual name='back_right_arm_visual'>
        <pose>-0.045961940777125586 -0.045961940777125586 -0.012000000000000004 0 0 -2.3561944901923448</pose>
        <geometry>
          <mesh>
            <uri>model://mrs_robots_description/meshes/dji/f450/dji_f450_arm.dae</uri>
            <scale>1 1 1</scale>
          </mesh>
        </geometry>
        <material>
          <script>
            <name>Gazebo/Red</name>
            <uri>file://media/materials/scripts/gazebo.material</uri>
          </script>
        </material>
      </visual>
      <visual name='back_left_arm_visual'>
        <pose>-0.045961940777125586 0.045961940777125586 -0.012000000000000004 0 0 2.3561944901923448</pose>
        <geometry>
          <mesh>
            <uri>model://mrs_robots_description/meshes/dji/f450/dji_f450_arm.dae</uri>
            <scale>1 1 1</scale>
          </mesh>
        </geometry>
        <material>
          <script>
            <name>Gazebo/Red</name>
            <uri>file://media/materials/scripts/gazebo.material</uri>
          </script>
        </material>
      </visual>
      <visual name='NUC_visual'>
        <pose>0 0 0.023 0 0 0</pose>
        <geometry>
          <mesh>
            <uri>model://mrs_robots_description/meshes/dji/f450/dji_f450_nuc.dae</uri>
            <scale>0.001 0.001 0.001</scale>
          </mesh>
        </geometry>
        <material>
          <script>
            <name>Gazebo/DarkGrey</name>
            <uri>file://media/materials/scripts/gazebo.material</uri>
          </script>
        </material>
      </visual>
      <visual name='pixhawk_visual'>
        <pose>0 0 -0.042500000000000003 0 0 0</pose>
        <geometry>
          <mesh>
            <uri>model://mrs_robots_description/meshes/sensors/pixhawk.dae</uri>
            <scale>1 1 1</scale>
          </mesh>
        </geometry>
        <material>
          <script>
            <name>Gazebo/DarkGrey</name>
            <uri>file://media/materials/scripts/gazebo.material</uri>
          </script>
        </material>
      </visual>
      <visual name='front_right_leg_visual'>
        <pose>0.15754339084836277 -0.15754339084836277 -0.11000000000000001 0 0 2.3561944901923448</pose>
        <geometry>
          <mesh>
            <uri>model://mrs_robots_description/meshes/dji/f450/dji_f450_leg_170mm.dae</uri>
            <scale>0.001 0.001 0.001</scale>
          </mesh>
        </geometry>
        <material>
          <script>
            <name>Gazebo/White</name>
            <uri>file://media/materials/scripts/gazebo.material</uri>
          </script>
        </material>
      </visual>
      <collision name='front_right_leg_collision'>
        <pose>0.15754339084836277 -0.15754339084836277 -0.11000000000000001 0 0 2.3561944901923448</pose>
        <geometry>
          <cylinder>
            <length>0.17000000000000001</length>
            <radius>0.012</radius>
          </cylinder>
        </geometry>
        <surface>
          <contact>
            <ode>
              <min_depth>0.01</min_depth>
              <max_vel>0</max_vel>
            </ode>
          </contact>
          <friction>
            <ode/>
          </friction>
        </surface>
      </collision>
      <visual name='front_left_leg_visual'>
        <pose>0.15754339084836277 0.15754339084836277 -0.11000000000000001 0 0 -2.3561944901923448</pose>
        <geometry>
          <mesh>
            <uri>model://mrs_robots_description/meshes/dji/f450/dji_f450_leg_170mm.dae</uri>
            <scale>0.001 0.001 0.001</scale>
          </mesh>
        </geometry>
        <material>
          <script>
            <name>Gazebo/White</name>
            <uri>file://media/materials/scripts/gazebo.material</uri>
          </script>
        </material>
      </visual>
      <collision name='front_left_leg_collision'>
        <pose>0.15754339084836277 0.15754339084836277 -0.11000000000000001 0 0 -2.3561944901923448</pose>
        <geometry>
          <cylinder>
            <length>0.17000000000000001</length>
            <radius>0.012</radius>
          </cylinder>
        </geometry>
        <surface>
          <contact>
            <ode>
              <min_depth>0.01</min_depth>
              <max_vel>0</max_vel>
            </ode>
          </contact>
          <friction>
            <ode/>
          </friction>
        </surface>
      </collision>
      <visual name='back_right_leg_visual'>
        <pose>-0.15754339084836277 -0.15754339084836277 -0.11000000000000001 0 0 0.78539816339744839</pose>
        <geometry>
          <mesh>
            <uri>model://mrs_robots_description/meshes/dji/f450/dji_f450_leg_170mm.dae</uri>
            <scale>0.001 0.001 0.001</scale>
          </mesh>
        </geometry>
        <material>
          <script>
            <name>Gazebo/Red</name>
            <uri>file://media/materials/scripts/gazebo.material</uri>
          </script>
        </material>
      </visual>
      <collision name='back_right_leg_collision'>
        <pose>-0.15754339084836277 -0.15754339084836277 -0.11000000000000001 0 0 0.78539816339744839</pose>
        <geometry>
          <cylinder>
            <length>0.17000000000000001</length>
            <radius>0.012</radius>
          </cylinder>
        </geometry>
        <surface>
          <contact>
            <ode>
              <min_depth>0.01</min_depth>
              <max_vel>0</max_vel>
            </ode>
          </contact>
          <friction>
            <ode/>
          </friction>
        </surface>
      </collision>
      <visual name='back_left_leg_visual'>
        <pose>-0.15754339084836277 0.15754339084836277 -0.11000000000000001 0 0 -0.78539816339744839</pose>
        <geometry>
          <mesh>
            <uri>model://mrs_robots_description/meshes/dji/f450/dji_f450_leg_170mm.dae</uri>
            <scale>0.001 0.001 0.001</scale>
          </mesh>
        </geometry>
        <material>
          <script>
            <name>Gazebo/Red</name>
            <uri>file://media/materials/scripts/gazebo.material</uri>
          </script>
        </material>
      </visual>
      <collision name='back_left_leg_collision'>
        <pose>-0.15754339084836277 0.15754339084836277 -0.11000000000000001 0 0 -0.78539816339744839</pose>
        <geometry>
          <cylinder>
            <length>0.17000000000000001</length>
            <radius>0.012</radius>
          </cylinder>
        </geometry>
        <surface>
          <contact>
            <ode>
              <min_depth>0.01</min_depth>
              <max_vel>0</max_vel>
            </ode>
          </contact>
          <friction>
            <ode/>
          </friction>
        </surface>
      </collision>
      <visual name='front_right_motor_visual'>
        <pose>0.16263455967290591 -0.16263455967290591 -0.012000000000000004 0 0 0</pose>
        <geometry>
          <mesh>
            <uri>model://mrs_robots_description/meshes/dji/f450/dji_f450_rotor.dae</uri>
            <scale>1 1 1</scale>
          </mesh>
        </geometry>
        <material>
          <script>
            <name>Gazebo/Black</name>
            <uri>file://media/materials/scripts/gazebo.material</uri>
          </script>
        </material>
      </visual>
      <visual name='front_left_motor_visual'>
        <pose>0.16263455967290591 0.16263455967290591 -0.012000000000000004 0 0 0</pose>
        <geometry>
          <mesh>
            <uri>model://mrs_robots_description/meshes/dji/f450/dji_f450_rotor.dae</uri>
            <scale>1 1 1</scale>
          </mesh>
        </geometry>
        <material>
          <script>
            <name>Gazebo/Black</name>
            <uri>file://media/materials/scripts/gazebo.material</uri>
          </script>
        </material>
      </visual>
      <visual name='back_right_motor_visual'>
        <pose>-0.16263455967290591 -0.16263455967290591 -0.012000000000000004 0 0 0</pose>
        <geometry>
          <mesh>
            <uri>model://mrs_robots_description/meshes/dji/f450/dji_f450_rotor.dae</uri>
            <scale>1 1 1</scale>
          </mesh>
        </geometry>
        <material>
          <script>
            <name>Gazebo/Black</name>
            <uri>file://media/materials/scripts/gazebo.material</uri>
          </script>
        </material>
      </visual>
      <visual name='back_left_motor_visual'>
        <pose>-0.16263455967290591 0.16263455967290591 -0.012000000000000004 0 0 0</pose>
        <geometry>
          <mesh>
            <uri>model://mrs_robots_description/meshes/dji/f450/dji_f450_rotor.dae</uri>
            <scale>1 1 1</scale>
          </mesh>
        </geometry>
        <material>
          <script>
            <name>Gazebo/Black</name>
            <uri>file://media/materials/scripts/gazebo.material</uri>
          </script>
        </material>
      </visual>
      <visual name='battery_mount_visual'>
        <pose>0 0 -0.078 0 0 1.5707963267948963</pose>
        <geometry>
          <mesh>
            <uri>model://mrs_robots_description/meshes/dji/f450/dji_f450_battery_mount.dae</uri>
            <scale>0.001 0.001 0.001</scale>
          </mesh>
        </geometry>
        <material>
          <script>
            <name>Gazebo/DarkGrey</name>
            <uri>file://media/materials/scripts/gazebo.material</uri>
          </script>
        </material>
      </visual>
      <visual name='battery_visual'>
        <pose>0 0 -0.076999999999999999 0 0 1.5707963267948963</pose>
        <geometry>
          <box>
            <size>0.13 0.042000000000000003 0.043999999999999997</size>
          </box>
        </geometry>
        <material>
          <script>
            <name>Gazebo/Grey</name>
            <uri>file://media/materials/scripts/gazebo.material</uri>
          </script>
        </material>
      </visual>
      <inertial>
        <mass>1.5640000000000001</mass>
        <inertia>
          <ixx>0.024763333333333335</ixx>
          <ixy>0</ixy>
          <ixz>0</ixz>
          <iyy>0.024763333333333335</iyy>
          <iyz>0</iyz>
          <izz>0.048875000000000002</izz>
        </inertia>
      </inertial>
      <collision name='base_link_collision'>
        <pose>0 0 -0.050000000000000003 0 0 0</pose>
        <geometry>
          <cylinder>
            <length>0.10000000000000001</length>
            <radius>0.20000000000000001</radius>
          </cylinder>
        </geometry>
        <surface>
          <contact>
            <ode>
              <min_depth>0.001</min_depth>
              <max_vel>0</max_vel>
            </ode>
          </contact>
          <friction>
            <ode/>
          </friction>
        </surface>
      </collision>
      <sensor name='air_pressure_sensor' type='air_pressure'>
        <always_on>true</always_on>
        <update_rate>50</update_rate>
        <air_pressure>
          <pressure>
            <noise type='gaussian'>
              <mean>0</mean>
              <stddev>3</stddev>
            </noise>
          </pressure>
        </air_pressure>
      </sensor>
      <sensor name='magnetometer_sensor' type='magnetometer'>
        <always_on>true</always_on>
        <update_rate>100</update_rate>
        <magnetometer>
          <x>
            <noise type='gaussian'>
              <stddev>0.0001</stddev>
            </noise>
          </x>
          <y>
            <noise type='gaussian'>
              <stddev>0.0001</stddev>
            </noise>
          </y>
          <z>
            <noise type='gaussian'>
              <stddev>0.0001</stddev>
            </noise>
          </z>
        </magnetometer>
      </sensor>
      <sensor name='navsat_sensor' type='navsat'>
        <always_on>true</always_on>
        <update_rate>10</update_rate>
        <gps/>
      </sensor>
      <sensor name='imu_sensor' type='imu'>
        <always_on>true</always_on>
        <update_rate>250</update_rate>
        <imu>
          <angular_velocity>
            <x>
              <noise type='gaussian'>
                <mean>0</mean>
                <stddev>0.00087266459999999998</stddev>
              </noise>
            </x>
            <y>
              <noise type='gaussian'>
                <mean>0</mean>
                <stddev>0.00087266459999999998</stddev>
              </noise>
            </y>
            <z>
              <noise type='gaussian'>
                <mean>0</mean>
                <stddev>0.00087266459999999998</stddev>
              </noise>
            </z>
          </angular_velocity>
          <linear_acceleration>
            <x>
              <noise type='gaussian'>
                <mean>0</mean>
                <stddev>0.0063699999999999998</stddev>
              </noise>
            </x>
            <y>
              <noise type='gaussian'>
                <mean>0</mean>
                <stddev>0.0063699999999999998</stddev>
              </noise>
            </y>
            <z>
              <noise type='gaussian'>
                <mean>0</mean>
                <stddev>0.0068599999999999998</stddev>
              </noise>
            </z>
          </linear_acceleration>
        </imu>
      </sensor>
    </link>
    <link name='prop_0_link'>
      <pose>0.16263455967290591 -0.16263455967290591 0.011499999999999996 0 0 0</pose>
      <inertial>
        <mass>0.016</mass>
        <inertia>
          <ixx>6.4521333333333335e-05</ixx>
          <ixy>0</ixy>
          <ixz>0</ixz>
          <iyy>6.4521333333333335e-05</iyy>
          <iyz>0</iyz>
          <izz>0.00012903200000000001</izz>
        </inertia>
      </inertial>
      <visual name='prop_0_visual'>
        <pose>0 0 0 0 0 0</pose>
        <geometry>
          <mesh>
            <uri>model://mrs_robots_description/meshes/dji/f450/dji_f450_prop.dae</uri>
            <scale>1 1 1</scale>
          </mesh>
        </geometry>
        <material>
          <script>
            <name>Gazebo/White</name>
            <uri>file://media/materials/scripts/gazebo.material</uri>
          </script>
        </material>
      </visual>
      <collision name='prop_{{ motor_number }}_link_collision'>
        <pose>0 0 0 0 1.5707963267948966 0</pose>
        <geometry>
          <cylinder>
            <length>0.254</length>
            <radius>0.01</radius>
          </cylinder>
        </geometry>
        <surface>
          <contact>
            <ode>
              <min_depth>0.01</min_depth>
              <max_vel>0</max_vel>
            </ode>
          </contact>
          <friction>
            <ode/>
          </friction>
        </surface>
      </collision>
    </link>
    <plugin name='gz::sim::systems::MrsMulticopterMotorModel' filename='MrsGazeboCommonResources_MulticopterMotorModel'>
      <jointName>prop_0_joint</jointName>
      <linkName>prop_0_link</linkName>
      <turningDirection>ccw</turningDirection>
      <timeConstantUp>0.0125</timeConstantUp>
      <timeConstantDown>0.025</timeConstantDown>
      <maxRotVelocity>1100</maxRotVelocity>
      <motorConstant>1.05e-5</motorConstant>
      <momentConstant>0.06</momentConstant>
      <commandSubTopic>command/motor_speed</commandSubTopic>
      <actuator_number>0</actuator_number>
      <rotorDragCoefficient>1.0e-4</rotorDragCoefficient>
      <rollingMomentCoefficient>1.0e-6</rollingMomentCoefficient>
      <rotorVelocitySlowdownSim>15</rotorVelocitySlowdownSim>
      <motorType>velocity</motorType>
      <robotNamespace>f450</robotNamespace>
    </plugin>
    <joint name='prop_0_joint' type='revolute'>
      <parent>base_link</parent>
      <child>prop_0_link</child>
      <axis>
        <xyz>0 0 1</xyz>
        <limit>
          <lower>-10000000000000000</lower>
          <upper>10000000000000000</upper>
        </limit>
        <dynamics>
          <spring_reference>0</spring_reference>
          <spring_stiffness>0</spring_stiffness>
        </dynamics>
      </axis>
    </joint>
    <link name='prop_1_link'>
      <pose>-0.16263455967290591 0.16263455967290591 0.011499999999999996 0 0 0</pose>
      <inertial>
        <mass>0.016</mass>
        <inertia>
          <ixx>6.4521333333333335e-05</ixx>
          <ixy>0</ixy>
          <ixz>0</ixz>
          <iyy>6.4521333333333335e-05</iyy>
          <iyz>0</iyz>
          <izz>0.00012903200000000001</izz>
        </inertia>
      </inertial>
      <visual name='prop_1_visual'>
        <pose>0 0 0 0 0 0</pose>
        <geometry>
          <mesh>
            <uri>model://mrs_robots_description/meshes/dji/f450/dji_f450_prop.dae</uri>
            <scale>1 1 1</scale>
          </mesh>
        </geometry>
        <material>
          <script>
            <name>Gazebo/White</name>
            <uri>file://media/materials/scripts/gazebo.material</uri>
          </script>
        </material>
      </visual>
      <collision name='prop_{{ motor_number }}_link_collision'>
        <pose>0 0 0 0 1.5707963267948966 0</pose>
        <geometry>
          <cylinder>
            <length>0.254</length>
            <radius>0.01</radius>
          </cylinder>
        </geometry>
        <surface>
          <contact>
            <ode>
              <min_depth>0.01</min_depth>
              <max_vel>0</max_vel>
            </ode>
          </contact>
          <friction>
            <ode/>
          </friction>
        </surface>
      </collision>
    </link>
    <plugin name='gz::sim::systems::MrsMulticopterMotorModel' filename='MrsGazeboCommonResources_MulticopterMotorModel'>
      <jointName>prop_1_joint</jointName>
      <linkName>prop_1_link</linkName>
      <turningDirection>ccw</turningDirection>
      <timeConstantUp>0.0125</timeConstantUp>
      <timeConstantDown>0.025</timeConstantDown>
      <maxRotVelocity>1100</maxRotVelocity>
      <motorConstant>1.05e-5</motorConstant>
      <momentConstant>0.06</momentConstant>
      <commandSubTopic>command/motor_speed</commandSubTopic>
      <actuator_number>1</actuator_number>
      <rotorDragCoefficient>1.0e-4</rotorDragCoefficient>
      <rollingMomentCoefficient>1.0e-6</rollingMomentCoefficient>
      <rotorVelocitySlowdownSim>15</rotorVelocitySlowdownSim>
      <motorType>velocity</motorType>
      <robotNamespace>f450</robotNamespace>
    </plugin>
    <joint name='prop_1_joint' type='revolute'>
      <parent>base_link</parent>
      <child>prop_1_link</child>
      <axis>
        <xyz>0 0 1</xyz>
        <limit>
          <lower>-10000000000000000</lower>
          <upper>10000000000000000</upper>
        </limit>
        <dynamics>
          <spring_reference>0</spring_reference>
          <spring_stiffness>0</spring_stiffness>
        </dynamics>
      </axis>
    </joint>
    <link name='prop_2_link'>
      <pose>0.16263455967290591 0.16263455967290591 0.011499999999999996 0 0 0</pose>
      <inertial>
        <mass>0.016</mass>
        <inertia>
          <ixx>6.4521333333333335e-05</ixx>
          <ixy>0</ixy>
          <ixz>0</ixz>
          <iyy>6.4521333333333335e-05</iyy>
          <iyz>0</iyz>
          <izz>0.00012903200000000001</izz>
        </inertia>
      </inertial>
      <visual name='prop_2_visual'>
        <pose>0 0 0 0 0 0</pose>
        <geometry>
          <mesh>
            <uri>model://mrs_robots_description/meshes/dji/f450/dji_f450_prop.dae</uri>
            <scale>-1 1 1</scale>
          </mesh>
        </geometry>
        <material>
          <script>
            <name>Gazebo/White</name>
            <uri>file://media/materials/scripts/gazebo.material</uri>
          </script>
        </material>
      </visual>
      <collision name='prop_{{ motor_number }}_link_collision'>
        <pose>0 0 0 0 1.5707963267948966 0</pose>
        <geometry>
          <cylinder>
            <length>0.254</length>
            <radius>0.01</radius>
          </cylinder>
        </geometry>
        <surface>
          <contact>
            <ode>
              <min_depth>0.01</min_depth>
              <max_vel>0</max_vel>
            </ode>
          </contact>
          <friction>
            <ode/>
          </friction>
        </surface>
      </collision>
    </link>
    <plugin name='gz::sim::systems::MrsMulticopterMotorModel' filename='MrsGazeboCommonResources_MulticopterMotorModel'>
      <jointName>prop_2_joint</jointName>
      <linkName>prop_2_link</linkName>
      <turningDirection>cw</turningDirection>
      <timeConstantUp>0.0125</timeConstantUp>
      <timeConstantDown>0.025</timeConstantDown>
      <maxRotVelocity>1100</maxRotVelocity>
      <motorConstant>1.05e-5</motorConstant>
      <momentConstant>0.06</momentConstant>
      <commandSubTopic>command/motor_speed</commandSubTopic>
      <actuator_number>2</actuator_number>
      <rotorDragCoefficient>1.0e-4</rotorDragCoefficient>
      <rollingMomentCoefficient>1.0e-6</rollingMomentCoefficient>
      <rotorVelocitySlowdownSim>15</rotorVelocitySlowdownSim>
      <motorType>velocity</motorType>
      <robotNamespace>f450</robotNamespace>
    </plugin>
    <joint name='prop_2_joint' type='revolute'>
      <parent>base_link</parent>
      <child>prop_2_link</child>
      <axis>
        <xyz>0 0 1</xyz>
        <limit>
          <lower>-10000000000000000</lower>
          <upper>10000000000000000</upper>
        </limit>
        <dynamics>
          <spring_reference>0</spring_reference>
          <spring_stiffness>0</spring_stiffness>
        </dynamics>
      </axis>
    </joint>
    <link name='prop_3_link'>
      <pose>-0.16263455967290591 -0.16263455967290591 0.011499999999999996 0 0 0</pose>
      <inertial>
        <mass>0.016</mass>
        <inertia>
          <ixx>6.4521333333333335e-05</ixx>
          <ixy>0</ixy>
          <ixz>0</ixz>
          <iyy>6.4521333333333335e-05</iyy>
          <iyz>0</iyz>
          <izz>0.00012903200000000001</izz>
        </inertia>
      </inertial>
      <visual name='prop_3_visual'>
        <pose>0 0 0 0 0 0</pose>
        <geometry>
          <mesh>
            <uri>model://mrs_robots_description/meshes/dji/f450/dji_f450_prop.dae</uri>
            <scale>-1 1 1</scale>
          </mesh>
        </geometry>
        <material>
          <script>
            <name>Gazebo/White</name>
            <uri>file://media/materials/scripts/gazebo.material</uri>
          </script>
        </material>
      </visual>
      <collision name='prop_{{ motor_number }}_link_collision'>
        <pose>0 0 0 0 1.5707963267948966 0</pose>
        <geometry>
          <cylinder>
            <length>0.254</length>
            <radius>0.01</radius>
          </cylinder>
        </geometry>
        <surface>
          <contact>
            <ode>
              <min_depth>0.01</min_depth>
              <max_vel>0</max_vel>
            </ode>
          </contact>
          <friction>
            <ode/>
          </friction>
        </surface>
      </collision>
    </link>
    <plugin name='gz::sim::systems::MrsMulticopterMotorModel' filename='MrsGazeboCommonResources_MulticopterMotorModel'>
      <jointName>prop_3_joint</jointName>
      <linkName>prop_3_link</linkName>
      <turningDirection>cw</turningDirection>
      <timeConstantUp>0.0125</timeConstantUp>
      <timeConstantDown>0.025</timeConstantDown>
      <maxRotVelocity>1100</maxRotVelocity>
      <motorConstant>1.05e-5</motorConstant>
      <momentConstant>0.06</momentConstant>
      <commandSubTopic>command/motor_speed</commandSubTopic>
      <actuator_number>3</actuator_number>
      <rotorDragCoefficient>1.0e-4</rotorDragCoefficient>
      <rollingMomentCoefficient>1.0e-6</rollingMomentCoefficient>
      <rotorVelocitySlowdownSim>15</rotorVelocitySlowdownSim>
      <motorType>velocity</motorType>
      <robotNamespace>f450</robotNamespace>
    </plugin>
    <joint name='prop_3_joint' type='revolute'>
      <parent>base_link</parent>
      <child>prop_3_link</child>
      <axis>
        <xyz>0 0 1</xyz>
        <limit>
          <lower>-10000000000000000</lower>
          <upper>10000000000000000</upper>
        </limit>
        <dynamics>
          <spring_reference>0</spring_reference>
          <spring_stiffness>0</spring_stiffness>
        </dynamics>
      </axis>
    </joint>
  </model>
</sdf>
