<?xml version="1.0"?>
<model>
  <name>arena_2025/model.config</name>
  <version>1.0</version>
  <sdf version="1.6">model.sdf</sdf>
  <author>
    <name>Seu Nome</name>
    <email>seu.email@exemplo.com</email>
  </author>
  <description>Uma arena personalizada para simulação de drones.</description>
</model>