{%- for topics in camera_info_topic_list -%}
- ros_topic_name: "{{ topics["ros"] }}"
  gz_topic_name: "{{ topics["gazebo"] }}"
  ros_type_name: "sensor_msgs/msg/CameraInfo"
  gz_type_name: "gz.msgs.CameraInfo"
  direction: GZ_TO_ROS
{% endfor %}

{%- for topic in laser_scan_topic_list -%}
- ros_topic_name: "{{ topic["ros"] }}"
  gz_topic_name: "{{ topic["gazebo"] }}"
  ros_type_name: "sensor_msgs/msg/LaserScan"
  gz_type_name: "gz.msgs.LaserScan"
  direction: GZ_TO_ROS
{% endfor %}

{%- for topic in point_cloud_topic_list -%}
- ros_topic_name: "{{ topic["ros"] }}"
  gz_topic_name: "{{ topic["gazebo"] }}"
  ros_type_name: "sensor_msgs/msg/PointCloud2"
  gz_type_name: "gz.msgs.PointCloudPacked"
  direction: GZ_TO_ROS
{% endfor %}

{%- for topic in odometry_topic_list -%}
- ros_topic_name: "{{ topic["ros"] }}"
  gz_topic_name: "{{ topic["gazebo"] }}"
  ros_type_name: "nav_msgs/msg/Odometry"
  gz_type_name: "gz.msgs.Odometry"
  direction: GZ_TO_ROS
{% endfor %}

{%- for topic in imu_topic_list -%}
- ros_topic_name: "{{ topic["ros"] }}"
  gz_topic_name: "{{ topic["gazebo"] }}"
  ros_type_name: "sensor_msgs/msg/Imu"
  gz_type_name: "gz.msgs.IMU"
  direction: GZ_TO_ROS
{% endfor %}
